<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://microservicioapiafiliados.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2f01a76e-22b0-45f7-bd13-685ef71876ec/resourceGroups/NuevasTecnologias/providers/Microsoft.Web/sites/MicroservicioApiAfiliados</ResourceId>
    <UserName>$MicroservicioApiAfiliados</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://microservicioapiafiliados.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>